.App {
  text-align: center;
}
.visiblityClass{
  visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;
}
.footerComponent{
  visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;
}